@font-face {
    font-family: 'RedHat';
    src: url(assets/fonts/RedHatText-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'RedHatItallic';
    src: url(assets/fonts/RedHatText-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'RedHatStaticBold';
    src: url(assets/fonts/static/RedHatText-Bold.ttf)
}

@font-face {
    font-family: 'RedHatStaticRegular';
    src: url(assets/fonts/static/RedHatText-Regular.ttf);
}

@font-face {
    font-family: 'RedHatStaticSemiBold';
    src: url(assets/fonts/static/RedHatText-SemiBold.ttf);
}

html {
    font-family: 'RedHat';
    max-width: 1440px;
    min-width: 1150px;
    margin: 0 auto;
    background-color: hsl(20, 50%, 98%);
    color: hsl(14, 65%, 9%);
}

header {
    margin: 1rem;
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 30px;
    margin: 1rem;
}


/* aside -------------------------------- */

aside .fixed {
    background-color: white;
    padding: 0 1rem 2rem 1rem;

    border-radius: 10px;
    width: 250px;
    display: flex;
    flex-direction: column;
    position: sticky;
    top:30px;
}

aside .cart-item {
    border-bottom: 1px solid hsl(14, 25%, 72%);
}

aside h3 {
    color: hsl(14, 65%, 9%);
}

.count {
    color: hsl(14, 86%, 42%);
    padding-right: 15px;
}

.normal-price {
    color: hsl(14, 25%, 72%);
    padding-right: 15px;
}

.total-price {
    flex-direction: row;
    justify-content: space-between;
}

.total-price h2 {
    color: black
}

/* button ---------------------------- */

button {
    padding: .5rem;
    border: 1px solid hsl(14, 25%, 72%);
    text-decoration: none;
    border-radius: 60px;
    font-size: 14px;
    width: 150px;
    font-family: 'RedHatStaticBold';
    padding-left: 2.5rem;

    position: relative;
    left: 50px;
    bottom: 20px;

    background: url(assets/images/icon-add-to-cart.svg) no-repeat 20px 7px white;
    cursor: pointer;
}

button:hover,
button:focus {
    color: hsl(14, 86%, 42%);
    border-color: hsl(14, 86%, 42%);
}

button.active {
    border: 1px solid hsl(14, 86%, 42%);
    color: white;
    padding-left: .6rem;
    background: hsl(14, 86%, 42%);
    display: flex;
    flex-direction: row;
    font-size: 20px;
    justify-content: center;
}

/* ----------------------------------------- */


article {
    display: flex;
    flex-direction: column;
    line-height: 10px;
}

img {
    width: 250px;
    border-radius: 10px;
}

aside img {
    align-self: center;
    width: 100px;
}

/* text ---------------------------------- */

aside p {
    font-family: 'RedHatStaticBold';
    align-self: center;
    font-size: 13px;
}

aside h2,
article p:last-child {
    color: hsl(14, 86%, 42%);
    font-family: 'RedHatStaticBold';
}

article p:last-child {
    margin-bottom: 1rem;
}

aside .cart-item p {
    font-size: 16px;
}

h3 {
    font-size: 16px;
    margin: .5rem;
}

p {
    color: hsl(12, 20%, 44%);
    margin: .5rem;
}

/* ----------------------------------------- */


.desserts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.icons {
    width: 22px;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


@media screen and (max-width: 1030px) {
    html {
        min-width: 950px;
    }

    .desserts {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 780px) {
    html {
        min-width: 500px;
    }

    .desserts {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 500px) {
    html {
        min-width: 300px;
    }
    main {
        grid-template-columns: 1fr;
    }
    aside .fixed {
        width: 200px;
    }
}