* {
    margin: 0;
    padding: 0;
}

body {
    width: 1200px;
    margin: auto;
    background-color: white;
}


/* text ----------------------------------------------------- */

h1,
h2,
h3 {
    font-family: "Raleway", serif;
    font-weight: 700;
    color: hsl(192, 100%, 9%);
}

p,
button,
label {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: hsl(192, 100%, 9%);
}

/* text end ----------------------------------------------------------- */

/* header ---------------------------------------------------- */

header {
    margin-top: 4em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header button {
    align-self: flex-start;
    font-weight: 700;
    background-color: hsl(0, 20%, 99%);
    color: hsl(321, 100%, 78%);
    border-radius: 30px;
    border: 2px solid hsl(321, 100%, 78%);
    padding: .5em 2em .5em 2em;
    font-size: 14px;
    box-shadow: 0 4px 8px hsla(228, 25%, 76%, 0.747);
}

header button:hover,
header button:focus {
    background-color: hsl(321, 100%, 78%);
    color: white;
}

header button:active {
    background-color: hsl(0, 100%, 63%);
}

/* header end ---------------------------------------------------- */

/* article --------------------------------------------------- */

    article {
        display: flex;
        height: 650px;
        text-align: center;
        align-items: center;
    }

    /* artcile 1, 6 -------------------------------- */

        article:nth-child(1) div {
            margin-top: 3em;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

        article:nth-child(1) h1 {
            font-size: 3em;
            margin-bottom: .7em;
        }

        article:nth-child(1) p {
            font-size: 1em;
            width: 45%;
            font-weight: 600;
            margin-bottom: 2.5em;
        }

        article:nth-child(1) button,
        .article-six button,
        .article-seven button {
            font-size: 1em;
            width: 25%;
            padding: 1em;
            color: white;
            background-color: hsl(322, 100%, 66%);
            font-weight: 700;
            border-radius: 30px;
            border: 2px solid hsl(321, 100%, 78%);
            box-shadow: 0 4px 8px hsla(228, 25%, 76%, 0.747);
        }

        article:nth-child(1) button:hover,
        article:nth-child(1) button:focus,
        .article-six button:hover,
        .article-six button:focus,
        .article-seven button:hover,
        .article-seven button:focus {
            color: hsl(321, 100%, 78%);
            background-color: hsl(0, 20%, 99%);
            border: 2px solid hsl(321, 100%, 78%);
        }

        article:nth-child(1) button:active,
        .article-six button:active,
        .article-seven button:active {
            color: white;
            background-color: hsl(0, 100%, 63%);
        }

    /* artcile 1, 6 end ------------------------------- */


    /* artcile 2 -------------------------------- */

        article:nth-child(3) {
            margin-top: 1em;
            justify-content: center;
            height: 300px;
        }

        article:nth-child(3) div:first-child {
            margin-right: 12em;
        }

        article:nth-child(3) div:last-child {
            margin-left: 12em;
        }

        article:nth-child(3) h2 {
            font-size: 5em;
        }

        article:nth-child(3) img {
            position: relative;
            left: -35%;
        }

    /* artcile 2 end ------------------------------- */

        
    /* artcile 3, 4, 5 -------------------------------- */

        div[class="background"] img,
        .article-four img,
        .article-five img {
            width: 100%;
        }

        div[class="background"] {
            height: 800px;
            background: 
                url(images/bg-section-top-desktop-1.svg) center 20px / 1138px no-repeat,
                url(images/bg-section-bottom-desktop-1.svg) center calc(100% - 40px) / 1138px no-repeat;
            padding: 0 2rem 0 2rem;
            display: flex;
            align-items: center;
        }

        div[class="background"] article,
        .article-five article {
            height: 500px;
            background-color: hsl(207, 100%, 98%);
            width: 1140px;
            text-align: left;
        }

        div[class="background"] article div,
        .article-five div {
            padding: 3em;
            align-items: flex-start !important;
        }
    
        div[class="background"] p,
        .article-five p {
            font-size: 1em;
            font-weight: 600;
            width: 88% !important;
        }

        div[class="background"] h2,
        .article-four h2,
        .article-five h2 {
            font-size: 3em;
            font-weight: 700;
            margin-bottom: 1rem;
        }
        
    /* artcile 3, 4, 5 end ------------------------------- */


    /* artcile 4 -------------------------------- */

        .article-four div:last-child {
            text-align: left;
            margin-left: 2rem;
        }

        .article-four div:first-child {
            margin-right: 2rem;
        }
        
    /* artcile 4 end ------------------------------- */


    /* artcile 5 -------------------------------- */

        .article-five {
            height: 800px;
            background: 
                url(images/bg-section-top-desktop-2.svg) center 30px / 1138px no-repeat,
                url(images/bg-section-bottom-desktop-2.svg) center calc(100% - 40px) / 1138px no-repeat;
            padding: 0 2rem 0 2rem;
            display: flex;
            align-items: center;
        }
        
    /* artcile 5 end ------------------------------- */


    /* artcile 6 -------------------------------- */

        .article-six {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 400px;
        }

        .article-six h2 {
            font-size: 3em;
            margin-bottom: 1em;
        }

    /* artcile 6 end ------------------------------- */


    /* artcile 7 -------------------------------- */

        .article-seven {
            background: url(images/bg-footer-top-desktop.svg) center 15px / 100% no-repeat;
            text-align: left;
        }

        .article-seven > div {
            background-color: hsl(192, 100%, 9%);
            display: flex;
            height: 350px;
            padding: 1em 3em 0 3em;
        }

        form {
            margin-left: 5rem;
        } 

        .article-seven p,
        .article-seven h2,
        .article-seven label {
            color: white ;
            opacity: 85%;
        }

        .article-seven p:nth-child(2) {
            width: 65%;
            font-weight: 600;
            margin: 2em 0 2em 0;
            font-size: 14px;
            line-height: 25px;
        }

        .icon {
            float: left;
            margin-right: 20px;
        }

        .article-seven p,
        label {
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 2em;
        }

        label {
            display: block;
            width: 65%;
        }

        form h2 {
            margin: 2em 0 2rem 0;
        }

        .article-seven button {
            box-shadow: none;
            border-radius: 5px;
            padding: 2px 4px 2px 4px;
            border: 2px solid hsl(322, 100%, 66%);
            font-size: 14px;
            height: 40px;
        }

        input {
            border: none;
            border-radius: 5px;
            height: 39px;
            margin-right: 2rem;
            width: 55%;
        }

    /* artcile 7 end ------------------------------- */

/* article end ----------------------------------------------------------- */

.images {
    text-align: center;
    width: 100%;
    overflow: hidden;
}

.top {
    position: relative;
    top: 40px;
}

.icons {
    margin-top: 3em;
    display: flex;
    justify-content: space-between;
    width: 18%;
}

.logo-filter {
    filter: brightness(0%) invert(100%);
}

footer {
    margin-bottom: 2em;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (max-width: 420px) {

    p,
    button {
        font-size: 16px !important;
    }

    html {
        margin: 2rem;
        width: 420px;
    }

    body {
        width: 420px;
    }

    header, article {
        align-items: center;
    }

    header img {
        width: 150px;
        height: 25px;
    }

    article:nth-child(1) h1 {
        font-size: 2rem;
    }

    article:nth-child(1) p {
        width: 100% !important;
    }

    .images img {
        display: block;
        width: 100%;
        text-align: center;
    }

    article:nth-child(1) button {
        width: 65%;
    }

    article:nth-child(3) {
        flex-direction: column;
        margin-top: 6rem;
        margin-bottom: 9em;
    }

    article:nth-child(3) div {
        margin: 3em 0 0 0 !important;
    }

    div[class="background"] {
        display: flex;
        flex-direction: column;
        margin-top: 3em;
        height: 750px;
        padding: 0;
    }

    .article-four div:last-child {
        margin: 0;
    }

    div[class="background"] article,
    .article-five article {
        flex-direction: column;
        height: 800px;
        justify-content: center;
        width: 100%;
    }

    div[class="background"] article {
        background-color: hsl(207, 100%, 98%);
    }

    div[class="background"] article div {
        padding: 1rem;
        align-items: center !important;
        text-align: center;
    }

    div[class="background"] div:last-child,
    .article-five div:last-child {
        order: -1;
    }

    .article-four {
        align-items: center;
        margin-top: 5rem;
        flex-direction: column;
        height: 500px;
        padding: 1em;
    }

    article:nth-child(1) div {
        margin-top: 1rem;
        align-items: center;
    }

    article:nth-child(1) div {
        display: flex;
        flex-direction: column;
        padding: 1em;
        align-items: center !important;
    }

    .article-four div h2,
    .article-four div p,
    .article-five div h2,
    .article-five div p {
        text-align: center;
    }

    .article-four div:first-child {
        margin: 0;
    }

    .article-five {
        display: flex;
        flex-direction: column;
        margin-top: 3em;
        height: 750px;
        padding: 0;
    }

    .article-four img {
        width: 300px;
    }

    .article-four img

    .article-five p {
        width: 100% !important;
    }

    .article-six button {
        width: 75%;
    }

    .article-seven {
        justify-content: space-around;
        margin-bottom: 5rem;
    }

    .article-seven > div {
        flex-direction: column;
        height: auto;
    }

    .article-seven form {
        order: -1;
    }

    form {
        margin: auto auto 3rem auto;
        display: flex;
        flex-direction: column;
    }

    label {
        width: 100%;
    }

    input {
        display: block;
        width: 100%;
        margin-bottom: 1rem;
    }

    .article-seven button {
        align-self: flex-end;
        width: 45%;   
    }

    .article-seven p:nth-child(2) {
        width: 100%;
    }

    .icons {
        width: 30%;
        margin-bottom: 3rem;
    }

    .article-six h2 {
        font-size: 2rem;
    }
}